article:not(.comment-wrapper) {
	margin: 1rem;

	p {
		max-width: 70ch;
	}

	h1,
	h2,
	h3,
	h4,
	p {
		margin: 1rem 0;
	}

	img,
	.stylized-element {
		border: 1px solid var(--color-on-background);
		margin-bottom: 0.75rem;
		border-radius: 0.75rem;
		height: auto;
	}

	.stylized-element {
		overflow: hidden;
		width: 100%;
		object-fit: cover;
		object-position: top;
	}

	.image-grid {
		align-items: center;
		display: grid;
		gap: 0.5rem;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}

	blockquote {
		margin: 0;
		margin-left: 0.5rem;
		padding-left: 0.75rem;
		border-left: 2px solid var(--color-on-surface);
		background-color: var(--color-surface);
		border-radius: 0.25rem;
	}
}

@media (max-width: 850px) {
	article:not(.comment-wrapper) {
		margin: 1rem;
		margin-top: 1.5rem;
	}
}
