.comment a {
	color: var(--color-primary);
	font-weight: 500;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.comment-content {
	h1 {
		font-size: 1.6rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	h4 {
		font-size: 1.1rem;
	}

	h5,
	h6 {
		font-size: 1rem;
	}

	img:not(.emoji),
	video {
		border-radius: 0.5rem;
		max-width: 250px;
	}
}

.comment-wrapper.no-actions {
	img:not(.emoji),
	video {
		display: none;
	}
}
