@import 'vars.scss';

* {
	box-sizing: border-box;
}

a,
button,
textarea,
iframe,
input {
	&:focus-within {
		outline: none;
		/* custom focus styles */
		box-shadow: 0 0 0 3px var(--color-primary);
		// outline: 3px solid #987fff;
		// outline-offset: 0px;
	}
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	scroll-behavior: smooth;
	font-family: var(--font-stack);
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	height: 100vh;
	background-color: var(--color-body-background);
	color: var(--color-on-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}
