.stylized-element {
	border: 1px solid var(--color-on-background);
	margin-bottom: 0.75rem;
	overflow: hidden;
	width: 100%;
	object-fit: cover;
	object-position: top;
}

.image-grid {
	align-items: center;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
