---
import Message from "@assets/icons/message.svg";
import Bluesky from "@assets/icons/bluesky.svg";
import GitHub from "@assets/icons/github.svg";
import KoFi from "@assets/icons/ko-fi.svg";
import Resume from "@assets/icons/resume.svg";
import Email from "@assets/icons/email.svg";
import Twitter from "@assets/icons/twitter.svg";
import Social, { type SocialProps } from "@components/Social.astro";
import {
  getLangFromUrl,
  useTranslatedPaths,
  useTranslations,
} from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPaths(lang);

const socials: SocialProps[] = [
  {
    name: "Email",
    description: "clembs@clembs.com",
    text: "clembs@clembs.com",
    icon: Email,
  },
  {
    name: "CV",
    description: t("contact.cv.view_pdf"),
    href: translatePath("/cv"),
    icon: Resume,
  },
  {
    name: "Twitter",
    description: "@clembsv",
    href: "https://twitter.com/clembsv",
    icon: Twitter,
  },
  {
    name: "Bluesky",
    description: "@clembs.com",
    href: "https://bsky.app/profile/clembs.com",
    icon: Bluesky,
  },
  {
    name: "GitHub",
    description: "@clembs",
    href: "https://github.com/Clembs",
    icon: GitHub,
  },
  {
    name: "Ko-Fi",
    description: t("contact.support"),
    href: "https://ko-fi.com/clembs",
    icon: KoFi,
  },
];
---

<section id="contact">
  <div class="section-title">
    <Message />

    <h2>
      {t("section_contact")}
    </h2>

    <p>
      {t("section_contact.description")}
    </p>
  </div>

  <div id="socials">
    {socials.map((s) => <Social {...s} />)}
  </div>
</section>

<style lang="scss">
  #socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    width: 100%;
    max-width: 500px;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
</style>
