---
export function getStaticPaths() {
  return [
    { params: { lang: "en" } },
    { params: { lang: "fr" } },
    { params: { lang: undefined } },
  ];
}

import Button from "../../components/Button.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import Layout from "../../layouts/Layout.astro";
import {
  getLangFromUrl,
  useTranslatedPaths,
  useTranslations,
} from "../../i18n/utils";
import Briefcase from "../../assets/icons/briefcase.svg";
import Bulb from "../../assets/icons/bulb.svg";
import Message from "../../assets/icons/message.svg";
import Bluesky from "../../assets/socials/bluesky.png";
import GitHub from "../../assets/socials/github.png";
import KoFi from "../../assets/socials/kofi.png";
import Papers from "../../assets/socials/papers.png";
import Thunderbird from "../../assets/socials/thunderbird.png";
import Twitter from "../../assets/socials/twitter.png";
import Social, { type SocialProps } from "../../components/Social.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPaths(lang);

const socials: SocialProps[] = [
  {
    name: "Email",
    description: "clembs@clembs.com",
    text: "clembs@clembs.com",
    img: Thunderbird,
  },
  {
    name: "CV",
    description: "View PDF",
    href: translatePath("/cv"),
    img: Papers,
  },
  {
    name: "Twitter",
    description: "@clembsv",
    href: "https://twitter.com/clembsv",
    img: Twitter,
  },
  {
    name: "Bluesky",
    description: "@clembs.com",
    href: "https://bsky.app/profile/clembs.com",
    img: Bluesky,
  },
  {
    name: "GitHub",
    description: "@clembs",
    href: "https://github.com/Clembs",
    img: GitHub,
  },
  {
    name: "Ko-Fi",
    description: "Support my work",
    href: "https://ko-fi.com/clembs",
    img: KoFi,
  },
];
---

<Layout>
  <section class="hero">
    <div class="text">
      <p class="small-text">
        {t("intro.eyebrow")}
      </p>

      <h1>{t("intro.title")}</h1>

      <p>{t("intro.subtext")}</p>
    </div>

    <div class="buttons">
      <Button href={translatePath("/cv")}>
        {t("cta.read_cv")}
      </Button>
      <Button variant="secondary" href={translatePath("/#contact")}>
        {t("cta.contact_me")}
      </Button>
    </div>
  </section>

  <section class="projects">
    <div class="section-title">
      <Briefcase />

      <h2>
        {t("section_work")}
      </h2>
    </div>

    <div class="project-grid">
      <ProjectCard
        key="uniten"
        date="2025"
        contract="internship"
        tools={["Flutter", "Firebase", "PostgreSQL"]}
        baseHue={31}
        url="https://uniten.fr"
      />
      <ProjectCard
        key="jameshuang"
        date="2024-2025"
        contract="freelance"
        tools={["Svelte", "Sass"]}
        baseHue={68}
        url="https://jameshuang.design"
      />
      <ProjectCard
        key="ix"
        date="2024"
        contract="freelance"
        tools={["HTML", "CSS"]}
        baseHue={203}
        url="https://language-manual.pages.dev"
      />
    </div>
  </section>

  <section class="projects">
    <div class="section-title">
      <Bulb />

      <h2>
        {t("section_projects")}
      </h2>
    </div>

    <div class="project-grid">
      <ProjectCard
        key="webpals"
        date="tba"
        contract="personal-project"
        tools={["Svelte", "Sass", "PostgreSQL"]}
        baseHue={250}
        url="https://webpals.me/clembs"
      />
      <ProjectCard
        key="crbt"
        date="2019-2024"
        contract="personal-project"
        tools={["TypeScript", "Prisma"]}
        baseHue={5}
        url="https://crbt.app"
      />
      <ProjectCard
        key="mecanume"
        date="2024"
        contract="college-project"
        tools={["Svelte", "Sass"]}
        baseHue={147}
        url="https://mecanique-numerique.vercel.app"
      />
    </div>
  </section>

  <section id="contact">
    <div class="section-title">
      <Message />

      <h2>
        {t("section_contact")}
      </h2>

      <p>
        {t("section_contact.description")}
      </p>
    </div>

    <div id="socials">
      {socials.map((s) => <Social client:* {...s} />)}
    </div>
  </section>
</Layout>

<style lang="scss">
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    max-width: 42ch;
    text-align: center;
  }

  .buttons {
    display: flex;
    gap: 0.5rem;
  }
  // }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    margin: 0 auto;

    max-width: 800px;
    padding: 3rem;
  }

  .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  #socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    width: 100%;
    max-width: 500px;
  }
</style>
