---
type Props = {
  href?: string;
  variant?: "primary" | "secondary";
};

const { href, variant = "primary" } = Astro.props;
---

<a class="clickable" {href} data-variant={variant}>
  <slot />
</a>

<style lang="scss">
  a {
    display: flex;
    padding: 0.75rem 1.25rem;
    border-radius: 99px;
    user-select: none;

    &[data-variant="primary"] {
      --hue: 0.75;
      background-color: var(--color-500);
      color: var(--color-white);

      @media (hover: hover) {
        &:hover {
          background-color: var(--color-600);
        }
      }
    }

    &[data-variant="secondary"] {
      background-color: var(--color-40);
      color: var(--color-850);
      border: 1px solid var(--color-300);

      @media (hover: hover) {
        &:hover {
          background-color: var(--color-100);
        }
      }
    }
  }
</style>
