---
import Information from "@assets/icons/information.svg";

type Props = {
  title?: string;
  variant?: "note";
};

const { title, variant = "note" } = Astro.props;
---

<div class="callout" data-variant={variant}>
  {variant === "note" ? <Information /> : ""}

  <div class="text">
    {title && <p class="title heading-3">{title}</p>}

    <slot />
  </div>
</div>

<style lang="scss">
  .callout {
    display: flex;
    gap: 1rem;
    background-color: var(--color-100);
    color: var(--color-800);
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 0.5rem;

    :global(svg) {
      width: 1.5rem;
      height: 1.5rem;
    }

    .text {
      :global(> *:first-child) {
        margin-top: 0;
      }
      :global(> *:last-child) {
        margin-bottom: 0;
      }
    }

    &[data-variant="note"] {
    }
  }
</style>
