---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<script>
  // in case i die and never update the year or smth
  document.querySelector("#copyyear")!.innerHTML = new Date()
    .getFullYear()
    .toString();
</script>

<footer>
  &copy;
  <span id="copyyear">
    {new Date().getFullYear()}
  </span>
  Clembs. {t("footer_legal_blurb")}
</footer>

<style lang="scss">
  footer {
    margin: 1.5rem auto;
    text-align: center;
  }
</style>
