---
import Clembs from "@assets/icons/clembs.svg";
import Globe from "@assets/icons/globe.svg";
import { getLocaleFromUrl, useTranslations, useTranslatedPaths } from "@i18n";

const lang = getLocaleFromUrl(Astro.url);
const translatePaths = useTranslatedPaths(lang);
const t = useTranslations(lang);

const targets = [
  {
    name: t("blog"),
    href: translatePaths("/blog"),
  },
];
// {
//   name: t("about"),
//   href: translatePaths("/about"),
// },
// {
//   name: t("now"),
//   href: translatePaths("/now"),
// },
---

<script>
  // progressive enhancements via JS: click outside && escape
  const languageInput = document.querySelector(
    "#language-input"
  ) as HTMLInputElement;

  document.addEventListener("click", (ev) => {
    if (ev.target != languageInput) {
      languageInput.checked = false;
    }
  });

  document.addEventListener("keydown", (ev) => {
    if (ev.key === "Escape") {
      languageInput.checked = false;
    }
  });
</script>

<header transition:name="navbar">
  <a
    class="logo"
    href={translatePaths("/")}
    aria-label={t("home")}
    title={t("home")}
  >
    <Clembs />
  </a>

  <div class="right">
    <nav>
      <ul>
        {
          targets.map((t) => (
            <li>
              <a class="clickable target" href={t.href}>
                {t.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <input type="checkbox" id="language-input" />

    <label
      for="language-input"
      class="target"
      aria-label="Change website language"
      aria-controls="language-menu"
    >
      <Globe />

      <div id="language-menu">
        <a href={translatePaths(Astro.url.pathname, "en")}> english </a>
        <a href={translatePaths(Astro.url.pathname, "fr")}> français </a>
      </div>
    </label>
  </div>
</header>

<style lang="scss">
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-white);
    border: 1px solid var(--color-500);
    border-radius: 999px;
    margin: 1.25rem auto;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    max-width: 800px;
    width: calc(100% - 1.5rem);
  }

  .logo {
    display: block;
    padding: 0.5rem;
    border-radius: 50%;

    &:focus-visible {
      background-color: var(--color-40);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-40);
      }
    }
  }

  .right {
    display: flex;
    gap: 0.5rem;
  }

  nav {
    display: contents;

    ul {
      display: contents;
      list-style: none;
    }
  }

  .target {
    display: inline-grid;
    place-items: center;
    padding: 0.75rem 1.25rem;
    border-radius: 999px;
    user-select: none;
    cursor: pointer;

    &:focus-visible {
      background-color: var(--color-40);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-40);
      }
    }

    &:is(label) {
      position: relative;
      padding: 0.5rem 0.75rem;

      :global(svg) {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  input[type="checkbox"] {
    position: fixed;
    width: 1px;
    height: 1px;
    top: -1px;
    right: -1px;

    &:focus-visible + label {
      background-color: var(--color-40);
      box-shadow:
        0 0 0 2px var(--color-white),
        0 0 0 4px var(--color-500);
    }

    &:checked + label {
      background-color: var(--color-40);

      #language-menu {
        display: flex;
      }
    }
  }

  #language-menu {
    display: none;
    flex-direction: column;
    background-color: var(--color-white);
    border: 1px solid var(--color-400);
    padding: 0.5rem;
    border-radius: 1.5rem;

    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(44px);
    z-index: 9;

    a {
      white-space: nowrap;
      padding: 1rem;
      border-radius: 1rem;

      @media (hover: hover) {
        &:hover,
        &:focus-visible {
          background-color: var(--color-40);
        }
      }
    }
  }
</style>
