.stylized-element {
	border-radius: 1rem;
	border: 1px solid var(--color-on-background);
	box-shadow: 0px 1px 0px 0px var(--color-on-background);
	margin-bottom: 1rem;
	overflow: hidden;
	width: 100%;
	max-height: 600px;
	object-fit: cover;
	object-position: top;
}

.image-grid {
	align-items: center;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
